// ----- Buttons
.c-btn {
    display: inline-block;
    background: $color-white;
    padding: 2rem 3rem;
    color: $color-tundora;
    @include font-size(35px,25px,25px);
    border-radius: 1rem;
    outline: none;
    @include breakpoint(desktop) {
        transition: all .3s ease;

        &:hover {
            background: $color-black;
            color: $color-white;
        }
    }

    &--wrap {
        text-align: center;
        margin-bottom: 10rem;
        @include breakpoint(overPhone) {
            margin-bottom: 0;
        }
    }
}
