.c-nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transform: translateX(100%);
    transition: all .5s;
    transition-timing-function: cubic-bezier(.22,.44,.2,.98);
    backface-visibility: hidden;
    @include breakpoint(overPhone) {
        position: static;
        width: 45%;
        max-width: 32rem;
        background: transparent;
        opacity: 1;
        transform: translateX(0);
    }

    &.active {
        transform: translateX(0);
        opacity: 1;
    }

    &__list {
        @include absolute(center);
        @include font-size(45px,20px,18px);
        @include breakpoint(overPhone) {
            position: static;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
            transform: translate(0, 0);
        }

        li {
            text-align: center;
            margin-bottom: 6rem;
            color: $color-white;
            @include breakpoint(overPhone) {
                padding: 1rem;
                margin-bottom: 0;
                color: $color-black;
            }
            @include breakpoint(desktop) {
                color: $color-tundora;
                cursor: pointer;
                transition: color .2s ease;
            }

            &:hover {
                @include breakpoint(desktop) {
                    color: $color-black;
                }
            }
        }
    }

    &__close {
        position: absolute;
        right: 3.8rem;
        top: 3.8rem;
        width: 5rem;
        height: 5rem;
        @include breakpoint(overPhone) {
            display: none;
        }

        &::before, &::after {
            position: absolute;
            top: -0.6rem;
            left: 2.2rem;
            content: ' ';
            height: 6.4rem;
            width: 2px;
            background-color: $color-white;
        }
        &::before {
            transform: rotate(45deg);
        }
        &::after {
            transform: rotate(-45deg);
        }
    }
}
