.u-animated {
    opacity: 0;
    transition: transform .8s, opacity 1.4s;
    transition-timing-function: cubic-bezier(.22,.44,.2,.98);
    backface-visibility: hidden;

    &.from--right {
        transform: translateX(100%);
    }

    &.from--left {
        transform: translateX(-100%);
    }

    &.in--view {
        opacity: 1;
        transform: translateX(0);
    }
}
