.b-footer {
    background: $color-tundora;
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    @include breakpoint(overPhone) {
        padding-top: 8rem;
        padding-bottom: 8rem;
    }
}
