.b-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    transition: all .5s ease;

    .l {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        padding: 2rem 4%;
        transition: all .5s ease;
        backface-visibility: hidden;
        @include breakpoint(overPhone) {
            padding: 1rem 4%;
        }
    }

    &.bg--white {
        background: $color-white;
        box-shadow: 0 0 1rem 0 rgba(0,0,0,0.1);

        .l {
            @include breakpoint(desktop) {
                padding: 0 4%;
            }
        }

    }

    &__logo {
        width: 40%;
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-between;
        backface-visibility: hidden;
        @include breakpoint(overPhone) {
            width: 28%;
        }
        @include breakpoint(desktop) {
            width: 13%;
            max-width: 16.5rem;
            cursor: default;
        }

        img {
            width: 38%;
            @include breakpoint(overPhone) {
                width: 40%;
            }
            @include breakpoint(desktop) {
                width: 42%;
            }
        }

        figcaption {
            font-family: $ff-main-semibold;
            @include font-size(45px,35px,30px);
            color: $color-mine-shaft;
        }
    }

    &__burger {
        width: 8rem;
        background: transparent;
        @include breakpoint(overPhone) {
            display: none;
        }

        & span {
            display: block;
            width: 80%;
            height: 0.5rem;
            margin: auto;
            margin-bottom: 1.5rem;
            border-radius: 5rem;
            background: $color-tundora;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
