.b-objects {
    padding-top: 10rem;
    padding-bottom: 10rem;
    @include breakpoint(desktop) {
        padding: 10rem 25rem;
    }

    .o-main {
        margin-bottom: 15rem;
        @include breakpoint(overPhone) {
            align-items: center;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
