.b-social {
    padding-bottom: 10rem;

    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 3rem;
    }

    &__icon {
        width: 30%;
        @include breakpoint(overPhone) {
            width: 15%;
        }
        @include breakpoint(desktop) {
            width: 5%;
            transform: translateY(0);
            transition: transform .3s ease-in-out;

            &:hover {
                transform: translateY(-0.8rem);
            }
        }

        &:first-child {
            margin-right: 5rem;
            @include breakpoint(overPhone) {
                margin-right: 3rem;
            }
        }

        img {
            width: 100%;
        }
    }
}
