//----- Variables / Colors

$color-white                : #ffffff;
$color-black                : #000000;
$color-tundora              : #474747;
$color-mercury              : #E6E6E6;
$color-french-pass          : #C8EAFE;
$color-dodger-blue          : #38B5FF;


$colors           : (
  buttons         : ( //----- Buttons colors
    primary       : $color-black,
    secondary     : $color-white
  )
);

// //----- Variables used in the @for loop for different brand colors
// // Example... Socials
// $buttonsArray  : facebook, fb-messenger, twitter, youtube, viber, whatsapp;
// $buttonsLength : length($buttonsArray) + 1;
// // In scss file
// .c-btn {
//     @for $soc from 1 to $buttonsLength {
//         $currentButton : nth($buttonsArray, $soc);
//         &--#{$currentButton} { // color
//             color: colorFunc(socials, $currentButton);
//         }
//     }
// }
